html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

body .pull-right {
  float: right !important;
}

body .pull-left {
  float: left !important;
}

body header,
body [data-view] {
  display: none;
  opacity: 0;
  transition: opacity 0.7s ease-in;
}

body [data-view].active {
  display: block;
  opacity: 1;
}

body[data-nav='playground'] header {
  display: block;
  opacity: 1;
}

/* Home */
body[data-nav='home'] {
  background: url(../images/apps.svg) right top no-repeat;
}

[data-view='home'] {
  height: 100%;
}

[data-view='home'] button {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s ease-in-out;
}

[data-view='home'] button.live {
  opacity: 1;
  pointer-events: all;
}

[data-view='home'] .mdc-layout-grid__cell--span-4.mdc-elevation--z4 {
  padding: 1em;
  background: #fff;
}
/* End Home */

/* Playground */
body[data-nav='playground'] {
  background: none;
}

body.mdc-dialog--open {
  display: block;
}

body.mdc-dialog--open .mdc-dialog__scrim{
  z-index: 999;
  pointer-events: none;
  background-color: rgba(0,0,0,.32);
}

body[data-nav='playground'] .mdc-snackbar {
  z-index: 1000;
}

header.mdc-top-app-bar--short-collapsed a,
header.mdc-top-app-bar--short-collapsed button {
  opacity: .7;
  pointer-events: none;
  transition: opacity .5s ease-in;
}

body[data-assessment] header.mdc-top-app-bar--short-collapsed a,
body[data-assessment] header.mdc-top-app-bar--short-collapsed button {
  opacity: 1;
  pointer-events: all;
}

[data-view='playground'] div.mdc-layout-grid {
  padding: 5px;
  overflow: hidden;
}

[data-view='playground'] .mdc-drawer.mdc-drawer--modal {
  width: 40vw;
}

[data-code-wrap] {
  white-space: nowrap;
}

#code-nav-wrap {
  float: left;
  width: 60px;
  padding: 0.6em 0;
}

#code-nav {
  width: 100%;
  min-height: 165px;
  margin-bottom: 2em;
  padding-top: 0.5em;
  background: lavender;
}

#code-nav [data-challange-step] {
  float: left;
  z-index: 10;
  font-size: 165%;
  background-color: transparent;
  color: rgba(0,0,0,.37);
  pointer-events: none;
}

#code-nav button .material-icons {
  min-width: 24px;
}

#code-nav button .material-icons svg {
  opacity: 0;
  transition: opacity 0.8s ease-in;
}

#code-nav button[data-challange-step][data-challange-status='active'] {
  border: 1px solid;
  background: lavenderblush;
  color: var(--mdc-theme-primary, #6200ee);
}

#code-nav button[data-challange-audit='passing'] .material-icons svg {
  opacity: 1;
}

#code-nav button[data-challange-step][data-challange-status='active'],
#code-nav button[data-challange-step][data-challange-audit='passing'] {
  pointer-events: all;
}

#code {
  margin-top: 10px;
  float: right;
  width: calc(100% - 60px);
  height: calc(100vh - 98px);
}

#code .CodeMirror-vscrollbar {
  overflow-y: hidden;
}

#code .CodeMirror-wrap {
  height: 100%;
  min-height: 100%;
}

/* Style The Challenge Instructions */

#instructions [data-task-title] {
  padding-left: 0.7em;
  border-bottom: 1px solid;
  background: #eee;
  margin-top: 0;
  padding-top: 0.5em;
}

#instructions [data-challenge-info-wrap] {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 305px);
}

body[data-assessment] #instructions [data-challenge-info-wrap] {
  height: calc(100vh - 280px);
}

#instructions [data-challenge-info]{
  margin-left: 1.5em;
  padding-right: 1em;
}

@import '../../commons/css/guide.scss';

#sandbox {
  position: absolute;
  height: 100%;
  width: 100%;
}

.output-area-wrapper {
  position: relative;
}

#viewer {
  position: absolute;
  top: 65px;
  left: 40%;
  opacity: 0;
  height: 878px;
  width: 523px;
  z-index: 1;
  background-image: url(../images/phone-chrome.png);
  background-repeat: no-repeat;
  transform-origin: 50% 0;
  transition: top 1s ease-in-out;
  transform: scale(0.75);
  margin-top: -62px;
  margin-left: -265px; 
  transition: top 1.5s ease-in-out, opacity 1.3s ease-in-out;
}

#instructions {
  position: absolute;
  top: 60px;
  left: 0;
  opacity: 0;
  width: 98%;
  z-index: 1;
  margin-top: -62px;
  height: calc(100vh - 120px);
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: .03125em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: 50% 0;
  transition: top 1s ease-in-out;
  transition: top 1.5s ease-in-out, opacity 1.3s ease-in-out;
}

#instructions.live {
  opacity: 1;
  z-index: 10;
}

#viewer.live {
  opacity: 1;
  top: 35px;
  z-index: 10;
}

#viewer.buffering {
  opacity: 0.25;
}

#viewer .screen {
  position: absolute;
  top: 122px;
  right: 82px;
  width: 360px;
  height: 640px;
}

body .action-begin {
  border: 1px solid;
  float: left;
  margin-left: 1em;
  margin-top: 0.7em;
}

body[data-assessment] .action-begin {
  display: none;
}

/* End Style The Challenge Instructions */

body[data-nav='playground'] [data-profile] {
  position: fixed;
  top: 0.2em;
  right: 1em;
  border-radius: 50%;
  transition: width .5s, height .5s;
}

body[data-nav='playground'] [data-profile].has-usr-photo {
  width: 36px;
  height: 36px;
}

body[data-nav='playground'] [data-profile].has-usr-photo img {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  right: 0;
  border-radius: 50%;
}

body[data-nav='playground'] [data-profile].has-usr-photo > svg {
  display: none;
}

body[data-nav='playground'] .mdc-menu .mdc-list {
  padding-bottom: 0px;
  padding-top: 0px;
}

body[data-nav='playground'] .signout-btn {
  left: 93% !important;
  top: 60px !important;
  min-width: 90px;
  z-index: 1000;
}

body[data-nav='playground'] [data-timer] {
  opacity: 0;
  transition: opacity 1.3s ease-in;
  color: #666;
  min-width: 200px;
  position: fixed;
  padding: 1em 2em;
  top: 0;
  right: 4em;
  font-size: 17px;
}

body[data-nav='playground'] [data-timer] span {
  text-transform: capitalize;
}

body[data-nav='playground'] [data-timer][data-timer-on] {
  opacity: 1;
}

body[data-nav='playground'] #mck-sidebox-launcher.mck-sidebox-launcher,
body[data-nav='playground'] #launcher-svg-container.km-chat-icon-sidebox {
  width: 40px;
  height: 40px;
}

body[data-nav='playground'] #launcher-svg-container.km-chat-icon-sidebox img {
  width: 70%;
}
/* End Playground */

body[data-nav='playground'] .mdc-snackbar.mdc-snackbar--open,
body[data-nav='playground'] .mdc-snackbar.mdc-snackbar--closing {
  position: fixed;
  top: -5px;
  left: 0;
  right: 0;
  bottom: auto;
}

body[data-nav='playground'] .mdc-snackbar.mdc-snackbar--open .mdc-snackbar__label {
  font-size: 110%;
}
