
html, body{
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

body[data-auth='authenticated'] {
  background: aliceblue;
}

body .pull-right {
  float: right !important;
}

body .pull-left {
  float: left !important;
}

body main select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

body header,
body [data-view] {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

body[data-auth] header {
  display: block;
  opacity: 1;
  z-index: 1000;
}

body [data-view].active {
  display: block;
  opacity: 1;
}

body[data-nav=home] {
  background: url(../../commons/images/apps.svg) 100% 0 no-repeat;
}

[data-nav='home'] .mdc-layout-grid__cell--span-4.mdc-elevation--z4 {
  padding: 1em;
  background: #fff;
}

header a svg {
  pointer-events: none;
}

.table-fixed-scrollr {
  overflow: auto;
}

.table-fixed thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999;
  background-color: #333;
  color: #fff;
  padding: 0.5em;
}

header.mdc-top-app-bar--fixed [data-action] {
  padding: 0.5em;
  cursor: pointer;
}

header.mdc-top-app-bar--fixed [data-action]:hover path.shape {
  fill: #f1f1f1;
}

/* Specs */
[data-view=create-edit-spec] {
  width: 95%;
  margin: 3em auto;
  background: #fff;
}

[data-view=create-edit-spec] .details-wrap {
  padding: 1em 1em 1em 1em;
}

[data-view=create-edit-spec] .details-wrap p {
  margin: 0;
}

[data-view=create-edit-spec] .mdc-typography--headline5 .mdc-icon-button {
  margin-top: -0.3em;
  margin-right: 0.3em;
}

#specabout-field {
  min-width: 90%;
}

#challenge-details {
  margin-bottom: 1em;
}

#challenge-instructions {
  min-height: 420px;
  overflow: auto;
}

[data-details-item] {
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease-in;
}

[data-details-item=active] {
  opacity: 1;
  display: block;
}

[data-details-item] .CodeMirror-wrap {
  min-height: 415px;
}

[data-view=create-edit-spec] #toggle-viewer {
  margin-bottom: 0.5em;
}

[data-view=create-edit-spec] [data-preview] {
  min-height: 455px;
  max-height: 555px;
}

[data-view=create-edit-spec] [data-preview] .content {
  margin-left: 0.7em;
  overflow: auto;
  max-height: 500px;
}

@import '../../commons/css/guide.scss';

body[data-nav=specs] .mdc-card.text-only .mdc-card__primary-action {
  padding: 1rem;
  min-height: 157px;
}

.width-class {
  max-width: 65%;
}

[data-action=clone-spec] {
  margin-top: -6px;
  margin-right: 10px;
}

/* End Specs */

/* Assesstemts */
#test-id-copyr {
  width: 0;
  height: 0;
  opacity: 0;
  top: -999px;
  left: -999px;
  position: absolute;
}

body[data-nav=assessments] .mdc-card.text-only .mdc-card__primary-action {
  padding: 1rem;
}

body[data-nav=assessments] .mdc-card.text-only:hover {
  background: #f6f6f6;
}

[data-view=create-edit-test] {
  width: 95%;
  margin: 3em auto;
  background: #fff;
}

[data-action=extract-test-id] {
  margin-top: -0.2em;
  margin-right: 0.5em;
}

[data-view=create-edit-test] #from-date-field,
[data-view=create-edit-test] #to-date-field {
  margin: 0.8em 0;
}

[type=datetime-local] {
  background: #fff;
}

[data-view=create-edit-test] .details-wrap {
  padding: 1.8em;
}

[data-view=create-edit-test] .mdc-select {
  margin: 1.5em 0;
  width: 90%;
}

[data-view=create-edit-test] #testname-field {
  min-width: 65%;
}

[data-candidate-perfs].mdc-select {
  width: 100%;
}

[data-view='create-edit-test'] [data-assessment-hasentries] {
  display: none;
}

[data-view='create-edit-test'][data-test-hasentries] [data-assessment-hasentries] {
  display: block;
}

[data-assessment-admin] {
  padding: 1em;
  max-height: 575px;
  overflow: hidden;
  margin-bottom: 1.5em;
}

[data-assessment-admin] .mdc-select:not(.mdc-select--disabled) {
  background-color: #fff;
}

[data-assessment-admin] input.email-search-input {
  background: #fff url('../images/baseline-search-24px.svg') center right no-repeat;
}

[data-assessment-admin] button[data-export] {
  margin-top: 1.2em;
  border: 1px solid #999;
  border-radius: 50%;
}

[data-assessment-admin] table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

[data-assessment-admin] thead tr,
[data-assessment-admin] tbody tr {
  line-height: 30px;
}

[data-assessment-admin] tbody tr:nth-child(even) {
  background: #f6f6f6;
}

[data-assessment-admin] table thead th,
[data-assessment-admin] table tbody td {
  text-align: left;
}

[data-assessment-admin] .table-fixed-scrollr {
  min-height: 350px;
  max-height: 550px;
}

[data-assessment-admin] tbody td {
  padding-left: 0.8em;
}

[data-assessment-admin] table tbody{
   overflow: auto;
   height: 100px;
}

.align-center {
  text-align: center !important;
}


.email-search{
  width: 363px !important;
  margin-top: 23px !important;
  margin-left: 172px;
}

.search-icon{
  width: 30px;
  padding-top: 13px;
  padding-left: -20px;
  margin-left: -40px;
}
/* End Assesstemts */
